---
---

@import "{{ site.theme }}";

body{
  background-image: url("http://image.flaticon.com/icons/png/512/68/68283.png");
  background-color: #dedede;
  background-attachment: fixed;
  background-position: top;
  background-repeat: space;
  background-size: 25% auto;
  }
.page-header{
  background-image: radial-gradient(#155799,#159957);
}
.main-content {
  background-color: white;
}
table {
  text-align: center;
}
ul {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: #FFF;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}
